# DENY GET ACCESS TO YOUR DARA FILE, TO FORBID PEOPLE ACCESS YOUR DATA JUST SENDING GET REQUEST LIKE example.com/data/data.json ALL EXCEPT YOU ARE FORBIDDEN TO SEE OTHER POSTCARDS OR FEEDBACK, DENY IT!!!!

Deny from all
ErrorDocument 403 /err/403.php
ErrorDocument 404 /err/404.php
